.listaDeProdutos {
    width: 90%;
    margin: 3em auto;
    border-collapse: collapse;
    overflow-x: auto;
    border: 1px solid #999999;
}

.listaDeProdutos tr:nth-child(odd) {
    background-color: #ccc;
}
.listaDeProdutos tr:hover {
    background-color: #c5c5c5;
}

.listaDeProdutos th {
    background-color: seagreen;
    color: white;
}

.listaDeProdutos th, td {
    padding: 0.5em 1em;
    text-align: center;
    border-bottom: 1px solid #999999;
}

.listaDeProdutos .preco::before {
    content: 'R$';
    padding-right: 0.5rem;
    font-size: 0.7rem;
}